@import url("https://fonts.cdnfonts.com/css/fraunces");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  padding: 40px;
}

h1,
h2,
h3,
h4 {
  font-family: "Fraunces", sans-serif;
}

@media only screen and (min-width: 992px) {
  body {
    font-size: 16px;
  }
}

